{% extends "base.html.twig" %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block stylesheets_page %}
     <link rel="stylesheet" href={{ asset('JS/jquery-ui-1.12.1.custom/jquery-ui.theme.css') }}>
    {% endblock %}
{% block form %}


    <h3>Поиск документов в ЕРПН за период </h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script src={{ asset('JS/handlerForm/validationForm.js') }}></script>
    <script src={{ asset('JS/handlerForm/searchERPN.js') }}></script>
    <script>


</script>
{% endblock %}