<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Анализ ПДВ {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        {% endblock %}
        {% block stylesheets_page %}

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <!--- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
            <!--- <script src="{{ asset('JS/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>-->
        <!---<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
           <!--- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
        {% endblock %}
    </head>
    <body>

<!-- Ряд, состоящий из 3 одинаковых блоков -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href={{ path('index') }}>Анализ ПДВ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Поиск данных
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={{ path('searchERPN') }}>в ЕРПН</a>
                        <a class="dropdown-item" href={{ path('searchReestr') }}>в Реестрах </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Остальное</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
    <div class="row">
        {#<!-- Блок №1, занимающий 3 колонки Bootstrap из 12 -->#}
        {#<div class="col-md-2">#}

        {#</div>#}
        <!-- Блок №2, занимающий 5 колонки Bootstrap из 12 -->
        {#<div class="col-md-6">#}
            {% block form %}{% endblock %}
            {% block table %}{% endblock %}

        {#</div>#}

        <!-- Список категорий -->
        <div class="col-xs-2">
            {% block Category %} {% endblock %}

        </div>
        <!-- Ряд, состоящий из 1 блока -->



    </div>

    </body>
</html>
